.container {
    height: 100vh;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; 
}

body {
    transition: background-color .7s ease-in-out;
}

.title {
    font-size: medium;
}

.box {
    width: 30vh;
    padding: 10px;
    background-color: darkgray;
    border-radius: 50px;
    display: flex;
    justify-content:space-evenly ;
}

.circle {
    width: 25px;
    height: 25px;
    background-color: red;
    border-radius: 50%;
}

.red {
    background-color: red;
}

.blue {
    background-color: blue;
}

.yellow{
    background-color: yellow;
}

.green{
    background-color: green ;
}